.ratingContainer{
    background-color: orange;
    color: #ffffff;
    font-size: 13.5px;
    align-self:stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 53px;
    padding: 9px;
    position: absolute;
    right: 13px;
    top: 28.3px;
}