.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.college{
    flex-direction: column;
    height: 377px;
    width: 44.37%;
    border: 0.2px solid #444444;
    box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
    margin-top:5.6% ;
    z-index: -5;
  }
.imgContainer{
    height: 233.2px;
    width: 100%;
    opacity: 0.7;
    background-size: cover;
    position: relative;
    background-color: #444444;
}
  .promo{
      
     position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: right;
  }
  .contentDiv{
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  .content{
      width: 70%;
      margin-left: 17px;
      text-align: left;
     
  }

  .cName{
      line-height: 18px;
      margin-top: 13px;
     margin-bottom: 13px;
      font-family: 'DINPro Bold';
      color: #444444;
      font-size: 18.5px;

  }
  .nearest{
      font-family: 'DINPro Medium';
      color: #444444;
      font-size: 13.5px;
      margin-bottom: 13px;
  }
  .span{
    color:#adadad;
    font-size:'13.5px';
    font-family:'DINPro Medium';

  }
  @media only screen and (max-width: 600px) {
    .container{
       flex-wrap: wrap;
       justify-content: center;
    }
    .college{
      width: 80%;
    }
    
   }