body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'DINPro Light';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro Light'), url('./Fonts/DINPro-Light\ tr.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'DINPro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro Medium'), url('./Fonts/DINPro-Medium\ tr.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'DINPro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro Bold'), url('./Fonts//DINPro-Bold\ tr.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'DINPro Black';
  font-style: normal;
  font-weight: normal;
  src: local('DINPro Black'), url('./Fonts//DINPro-Black\ tr.woff') format('woff');
  }
